<apex:page controller="SABIO_SetupController" sidebar="false" showHeader="false" applyHtmlTag="false" standardStylesheets="false" applyBodyTag="false" docType="html-5.0" >
    <head>
        <meta charset="utf-8" />
        <apex:stylesheet value="{!URLFOR($Resource.SLDS214, '/assets/styles/salesforce-lightning-design-system.min.css')}"/>
        <script src="/soap/ajax/34.0/connection.js" type="text/javascript"></script>
        <script src="/soap/ajax/34.0/apex.js" type="text/javascript"></script>
        <script type="text/javascript" src="/canvas/sdk/js/publisher.js"/>
    </head>

  <script>
      function saveBtn() {
        document.getElementById("spinerDiv").style.display = 'block';
        saveApex();
      }
      function exitBtn() {
        exitApex();
      }
      function testBtn(){
          document.getElementById("spinerDiv").style.display = 'block';
          testApex();
      }

      function hideSpin(){
          document.getElementById("spinerDiv").style.display = 'none';
      }

      function refreshPage(){
        refreshApex();
      }

  </script>

    <apex:form id="theform">
        <apex:actionFunction action="{!saveCust}" name="saveApex" onComplete="hideSpin();" reRender="theform">
        </apex:actionFunction>
        <apex:actionFunction action="{!testConnection}" name="testApex" onComplete="hideSpin();" reRender="theform">
        </apex:actionFunction>
        <apex:actionFunction action="{!exitSetup}" name="exitApex" reRender="theform">
        </apex:actionFunction>
        <apex:actionFunction action="{!refreshPage}" name="refreshApex" reRender="thePanel">
        </apex:actionFunction>

        <div id="spinerDiv" style="display:none;" class="slds-spinner_container">
            <div class="slds-spinner--brand slds-spinner slds-spinner--small" role="alert">
                <span class="slds-assistive-text">Loading</span>
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>

        <div id="modalWindow">
            <div  role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <apex:outputPanel id="thePanel">
                      <div class="slds-modal__header slds-theme--{!severity}">
                          <h2 id="header43" class="slds-text-heading--medium">{!title}</h2>
                      </div>
                    </apex:outputPanel>
                    <div align="center" class="slds-modal__content slds-p-around--medium">
                        <table>
                            <tr >
                                <td style="font-size:12pt; font-weight:bold; padding-left:10px;">URL:</td>
                                <td style="padding:10px;"><apex:inputText onChange="refreshPage();" styleClass="slds-input" value="{!customization.URL__c}" html-placeholder="http://url.com"/></td>
                            </tr>
                            <tr>
                                <td style="font-size:12pt; font-weight:bold; padding-left:10px;">realm:</td>
                                <td style="padding:10px;"><apex:inputText onChange="refreshPage();" styleClass="slds-input" value="{!customization.realm__c}" html-placeholder="/realm"/></td>
                            </tr>
                            <tr >
                                <td style="font-size:12pt; font-weight:bold; padding-left:10px;">Auth Key:</td>
                                <td style="padding:10px;"><apex:inputText onChange="refreshPage();" styleClass="slds-input" value="{!customization.API_key__c}" html-placeholder="auth Key"/></td>
                            </tr>
                            <tr >
                                <td style="font-size:12pt; font-weight:bold; padding-left:10px;">{!$Label.Case_search_field}:</td>
                                <td style="padding:10px;">
                                    <apex:selectList size="1" onChange="refreshPage();" styleClass="slds-select" value="{!customization.ticketSearchField__c}" multiselect="false">
                                        <apex:selectOptions value="{!fields}" />
                                    </apex:selectList>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="slds-modal__footer">
                        <div class="slds-grid">
                            <div>
                                <input type="button" value="{!$Label.Test_connection}" class="slds-button slds-button--neutral" onclick="testBtn();"/>
                            </div>
                            <div class="slds-col--bump-left">
                                <input type="button" value="{!$Label.Save}" class="slds-button slds-button--brand" onclick="saveBtn();"/>
                            </div>
                            <div style="padding-left:10px;">
                                <input type="button" value="{!$Label.Cancel}" class="slds-button slds-button--neutral" onclick="exitBtn();"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-backdrop slds-backdrop--open"></div>
        </div>
    </apex:form>
</apex:page>