<apex:page standardController="Case" showHeader="false"  extensions="SABIO_consoleComponentExtension" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0">

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, '/assets/styles/salesforce-lightning-design-system.min.css')}"/>
  <script src="/soap/ajax/34.0/connection.js" type="text/javascript"></script>
  <script src="/soap/ajax/34.0/apex.js" type="text/javascript"></script>
  <script type="text/javascript" src="/canvas/sdk/js/publisher.js"/>
</head>

<script type="text/javascript">
var nWindow;
var createEmaill;
var createComment;
var bclose;

function openModalDialog()
{
    var idOpenModal='#openModal';
    window.location.href = idOpenModal;
    return false;
}

function newWindow(id, type)
{
  var w = window.screen.width/2;
  var h = window.screen.height/2;
  var y = window.screen.width/4;
  var x = window.screen.height/4;
  //alert(window.screen.width);
    nWindow=window.open("/apex/SABIO_previewer?cID="+id+"&cType="+type,"_blank","top="+x+", left="+y+", width="+w+", height="+h);
    nWindow.nWindow=nWindow;
    nWindow.createEmail;
    nWindow.createComment;
    nWindow.bclose;
}

createEmail = function(text)
{
    articleEmail(text);
    nWindow.close();
};

createComment = function(text)
{
    articleComment(text);
    nWindow.close();
};

bclose = function()
{
  nWindow.close();
};



function articleComment(content) {
console.log("comment - "+content);
Sfdc.canvas.publisher.publish({name: 'publisher.selectAction',
 payload: { actionName: 'Case.CaseComment'}});

 Sfdc.canvas.publisher.publish({name: 'publisher.setActionInputValues',
 payload: {
    actionName: 'Case.CaseComment',
    portalPostFields: { body: { value:content,format:'richtext',insertType:'cursor'}}
 }});
}

function articleEmail(content) {
    console.log("email - "+content);
 Sfdc.canvas.publisher.publish({name: 'publisher.selectAction',
    payload: { actionName: 'Case.Email'}});

    Sfdc.canvas.publisher.publish({name: 'publisher.setActionInputValues',
    payload: {
       actionName: 'Case.Email',
       emailFields: {
           body: {
               value:content, format:'richtext', insert: true
           }
       }
   }
   });
}

var destiny = '';

    function localFeed() {
        if(destiny == 'email') {
            var text = document.getElementById('{!$Component.theform.text}').innerHTML;
            //alert(text);
            
            articleEmail(text);
        } else {
            var text2 = document.getElementById('{!$Component.theform.textContent}').innerHTML;
            //alert(text2);text
            articleComment(text2);
        }
        destiny = '';
    }

    function obtainContent(documentId, type, mode) {
        apexFeed(documentId,type);
        destiny = mode;
    }


    function searchApex() {
      show("spinerDiv");
      console.log("SEARCH - "+document.getElementById("searchField").value);
      searchRequestApex(document.getElementById("searchField").value);
            //document.getElementById("spinerDiv").style.display = 'none';
    }

    function attaching(documentId) {
      show("spinerDiv");
      attchToCase(documentId);
    }

    function show(id) {
      document.getElementById(id).style.display = 'block';
    }

    function hide(id) {
      document.getElementById(id).style.display = 'none';
    }

    var prevElement;
    var currentElement

    function switchVisibility(id) {
        console.log(id);

        if(prevElement==id) {
            if(document.getElementById(id).style.display == 'none') {
                document.getElementById(id).style.display = 'block';
            } else {
                document.getElementById(id).style.display = 'none';
            }
        } else {
            //if(document.getElementById(id).style.display == 'none') {
                document.getElementById(id).style.display = 'block';
            //} else {
                if(document.getElementById(prevElement))
                    document.getElementById(prevElement).style.display = 'none';
            //}
            //prevElement
        }
        prevElement = id;

    }

    function attachComplete() {
      show('modalWindow');
      hide('spinerDiv');
    }
    function hideModalError(){
        hideModalWindow();
    }

</script>





    <apex:form id="theform" >

        <div style="display:none;">
            <apex:outputText id="text" value="{!emailContent}" escape="false"/>
        </div>

        <div style="display:none;">
            <apex:outputText id="textContent" value="{!postContent}" escape="false"/>
        </div>


        <apex:actionFunction action="{!doSearchRequest}" name="searchRequestApex" oncomplete="hide('spinerDiv');" reRender="theform">
            <apex:param name="firstParam1" assignTo="{!cSearch}" value="" />
            <apex:param name="apexSearch" assignTo="{!pageSearch}" value="false" />
        </apex:actionFunction>

        <apex:actionFunction action="{!hideModal}" name="hideModalWindow" reRender="theform">
        </apex:actionFunction>

        <apex:actionFunction action="{!attachDocument}" name="attchToCase" oncomplete="attachComplete();" reRender="theform">
            <apex:param name="firstParam2" assignTo="{!docId}" value="" />
        </apex:actionFunction>

        <apex:actionFunction action="{!feedCreate}" name="apexFeed" oncomplete="localFeed();" reRender="theform">
            <apex:param name="firstParam" assignTo="{!docId}" value="" />
            <apex:param name="secondParam" assignTo="{!docType}" value="" />
        </apex:actionFunction>

        <body>
            <header style="position: fixed; z-index:100; top: 0px; height: 50px; width:100%; background-color: white;">
                <div style="padding:10px" class="slds-grid">
                    <div style="width:140px; height:20px;">
                        <img title="SABIO"   src="{!($Resource.SABIO_logo)}"/>
                    </div>
                    <div style="padding-left:10px; width: calc(95% - 155px);" >
                        <input id="searchField" onkeydown="if(event.keyCode==13){this.blur();searchApex();}" class="slds-input" type="search" placeholder="{!$Label.Enter_search_terms}" value="{!cSearch}" />
                    </div>
                    <div>
                        <img title="{!$Label.Search}" onclick="searchApex();"  style="text-align: center; padding-left:5px; width: 35px;" src="{!($Resource.Search)}"/>
                    </div>
                </div>
            </header>

        <article style="padding-bottom: 40px;padding-top: 50px; margin: 0 auto;">



                <apex:repeat value="{!RL}" rows="" var="SR" >
                    <div id="bodyEl" style="padding:10px;" class="slds-grid">
                        <div>
                            <div  class="slds-dropdown-trigger slds-dropdown-trigger--click slds-is-open">
                                <button type="button" class="slds-button slds-button--icon-border slds-button--icon-small" onclick="switchVisibility('menuId{!SR.Id}');" >
                                    <apex:image width="10" url="{!URLFOR($Resource.icons, 'hd-pop.png')}" />
                                </button>

                                <div id="menuId{!SR.Id}" style="display:none; z-index:1;" class="slds-dropdown slds-dropdown--left">

                                    <apex:outputPanel style="text-align:left" rendered="{!SR.isFile}">
                                        <ul class="slds-dropdown__list" role="menu">
                                            <li class="slds-dropdown__item" role="presentation">
                                                <a href="{!reqURL}/files/{!SR.id}?sabio-auth-token={!authKey}" id="link_{!SR.id}" target="_blank"><span class="slds-truncate">{!$Label.Open_file}</span></a>
                                            </li>

                                            <li class="slds-has-divider--top-space" role="separator"></li>

                                            <li class="slds-dropdown__item" role="presentation">
                                                <a href="{!reqURL}/files/{!SR.id}?type=attachment&sabio-auth-token={!authKey}" target="_blank"><span class="slds-truncate">{!$Label.Download_file}</span></a>
                                            </li>

                                            <li class="slds-dropdown__item" role="presentation">
                                                <a onclick="attaching('{!SR.id}');" ><span class="slds-truncate"><span class="slds-truncate">{!$Label.Attach_file_to_Case}</span></span></a>
                                            </li>
                                        </ul>
                                    </apex:outputPanel>

                            <apex:outputPanel rendered="{!!SR.isfile}">
                                <ul class="slds-dropdown__list" role="menu">
                                <li class="slds-dropdown__item" role="presentation">
                                    <a onclick="newWindow('{!SR.Id}','{!SR.type}');" id="link_{!SR.id}" target="_blank"><span class="slds-truncate">{!$Label.Open}</span></a>
                                </li>

                                <li class="slds-has-divider--top-space" role="separator"></li>
<!--
                                <li class="slds-dropdown__item" role="presentation">
                                    <a onclick="obtainContent('{!SR.Id}','{!SR.type}', 'post');" id="link_{!SR.id}" ><span class="slds-truncate">{!$Label.Post_to_Community}</span></a>
                                </li>
-->
                                <li class="slds-dropdown__item" role="presentation">
                                    <a onclick="obtainContent('{!SR.Id}','{!SR.type}','email');" id="link_{!SR.id}" ><span class="slds-truncate">{!$Label.Add_To_Email}</span></a>
                                </li>
                                </ul>


                            </apex:outputPanel>

                                </div>
                            </div>
                        </div>

                        <div style="padding-left:15px;" >
                            <apex:outputPanel rendered="{!SR.isFile}">
                                <p><apex:image url="{!URLFOR($Resource.icons, SR.resource)}" />
                                    <b>
                                        <a href="{!reqURL}/files/{!SR.id}?sabio-auth-token={!authKey}" id="link_{!SR.id}" target="_blank">{!SR.Title}</a>
                                    </b></p>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!!SR.isFile}">
                                <p><apex:image url="{!URLFOR($Resource.icons, SR.resource)}" />
                                    <b>
                                        <a onclick="newWindow('{!SR.Id}','{!SR.type}');" id="link_{!SR.id}" target="_blank">{!SR.Title}</a>
                                    </b></p>
                            </apex:outputPanel>
                            <div style="max-width:100%" id="content_{!SR.id}">
                                <apex:outputText style="overflow:ellipsis" escape="false" value="{!SR.excerpt}"/> <br/>
                            </div>
                            <br/><br/>
                        </div>
                    </div>
                </apex:repeat>

<apex:outputPanel rendered="{!RL.size==0}">
    <div align="center" style="font-size:12pt;font-weight:bold;color:gray; padding-top: calc(50%)">{!$Label.cw_sabio_app__no_results}</div>
</apex:outputPanel>



        </article>

        <footer style="position: fixed; bottom: 0px; height: 40px; width:100%; background-color: white;">
            <apex:outputPanel rendered="{!showPanel}">
                <div style="height: 5px; background-color: white;"></div>
                <div align="center" class="slds-grid slds-grid--align-center slds-grid--vertical-align-center">

                    <div >
                        <apex:commandLink rendered="{!showLeft}" styleClass="slds-button slds-button--icon" action="{!pageNavigation}" reRender="theform" >
                            <apex:image title="{!$Label.cw_sabio_app__first_page}" url="{!URLFOR($Resource.icons, 'page-first.png')}" />
                            <apex:param name="backORNext" value="begin" assignTo="{!backORNext}"/>
                        </apex:commandLink>
                    </div>

                    <div>
                        <apex:commandLink rendered="{!showLeft}" styleClass="slds-button slds-button--icon" action="{!pageNavigation}" reRender="theform" >
                            <apex:image title="{!$Label.cw_sabio_app__previous_page}" url="{!URLFOR($Resource.icons, 'page-prev.png')}" />
                            <apex:param name="backORNext" value="back" assignTo="{!backORNext}"/>
                        </apex:commandLink>
                    </div>

                    <div>
                        <span class="text-gradient">{!$Label.Page}</span>&nbsp;
                        <apex:inputText style="text-align:center; width:20px;"  value="{!pageNum}" id="input">
                            <apex:actionSupport event="onchange" reRender="theform" action="{!pageNavigation}"/>
                        </apex:inputText>
                        <span class="text-gradient">&nbsp;{!$Label.of}&nbsp;{!totalPages}</span>
                    </div>


                    <div>
                        <apex:commandLink rendered="{!showRight}" styleClass="slds-button slds-button--icon" action="{!pageNavigation}" reRender="theform">
                            <apex:image title="{!$Label.cw_sabio_app__next_page}" url="{!URLFOR($Resource.icons, 'page-next.png')}" />
                            <apex:param name="backORNext" value="next" assignTo="{!backORNext}"/>
                        </apex:commandLink>
                    </div>

                    <div>
                        <apex:commandLink rendered="{!showRight}" styleClass="slds-button slds-button--icon3" action="{!pageNavigation}" reRender="theform">
                            <apex:image title="{!$Label.cw_sabio_app__last_page}" url="{!URLFOR($Resource.icons, 'page-last.png')}" />
                            <apex:param name="backORNext" value="end" assignTo="{!backORNext}"/>
                        </apex:commandLink>
                    </div>
                    <!--
                <div style="width:16px;" class="slds-col--bump-left">
                    <apex:commandLink styleClass="slds-button" action="{!reload}">
                        <apex:image title="Reload" url="{!URLFOR($Resource.icons, 'refresh.png')}" />
                    </apex:commandLink>
                </div>
-->
                </div><br/>
                <div style="height: 5px; background-color: white;"></div>
            </apex:outputPanel>
        </footer>
        </body>

        <div id="spinerDiv" style="display:none;" class="slds-spinner_container">
            <div class="slds-spinner--brand slds-spinner slds-spinner--small" role="alert">
                <span class="slds-assistive-text">Loading</span>
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
        <apex:outputPanel rendered="{!bError}">
            <div style="display:block;" id="modalWindow">
                <div  role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header slds-theme--{!errorSeverity}">

                            <apex:commandLink reRender="theform" title="{!$Label.cw_sabio_app__close}" styleClass="slds-button slds-modal__close slds-button--icon-inverse" action="{!hideModal}">
                            X
                            </apex:commandLink>

                                                        <h2 id="header43" class="slds-text-heading--medium">{!errorTitle}</h2>
                        </div>
                        <div align="center" class="slds-modal__content slds-p-around--medium">
                            <div>
                                <p>{!errorString}</p>
                            </div>
                        </div>
                        <div class="slds-modal__footer">
                            <apex:commandButton value="OK" title="OK" reRender="theform" styleClass="slds-button slds-button--brand" action="{!hideModal}"/>
                        </div>
                    </div>
                </div>
                <div class="slds-backdrop slds-backdrop--open"></div>
            </div>
        </apex:outputPanel>
        </apex:form>
    </html>
</apex:page>